<!-- /templates/collection-training.liquid -->
{%- if section.settings.show_collection_image and collection.image -%}
  <div class="collection-hero">
    <noscript>
      <div class="collection-hero__image-no-js" style="background-image:url({{ collection.image | img_url: '2048x2048' }});"></div>
    </noscript>
    {%- assign img_url = collection.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    {%- comment -%}
      If the collection.image height is < 70% of its width on mobile or < 45% on desktop,
      we crop the container to make sure it's the same height as the image.
    {%- endcomment -%}
    {%- assign height_width_ratio = 100 | divided_by: collection.image.aspect_ratio | floor -%}
    {%- if height_width_ratio < 70 -%}
      <style>
        {%- if height_width_ratio < 45 -%}
          .collection-hero__image-wrapper::after {
            padding-bottom: {{ height_width_ratio }}%;
          }
        {%- else -%}
          @media screen and (max-width: 768px) {
            .collection-hero__image-wrapper::after {
              padding-bottom: {{ height_width_ratio }}%;
            }
          }
        {%- endif -%}
      </style>
    {%- endif -%}
    <div class="collection-hero__image-wrapper">
      <img class="collection-hero__image lazyload"
        src="{{ collection.image | img_url: '300x' }}"
        data-src="{{ img_url }}"
        data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
        data-aspectratio="{{ collection.image.aspect_ratio }}"
        data-sizes="auto"
        data-parent-fit="cover"
        alt="{{ collection.image.alt | escape }}">
    </div>
  </div>
{%- endif -%}

<div id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template" data-grid-type="{{ section.settings.collection_products_grid }}">
  {%- paginate collection.products by 12 -%}
  <header class="section-header text-center">
    <hr class="hr--small">
    <h1>All Training Programs</h1>
    <hr class="hr--small">
    {%- if collection.description != blank -%}
      <div class="grid">
        <div class="grid__item">
          <div class="rte">
            {{ collection.description }}
          </div>
        </div>
      </div>
    {%- endif -%}

    <div class="grid--full collection-sorting{% if section.settings.collection_sort_enable %} collection-sorting--enabled{% endif %}">
      {%- if section.settings.collection_sort_enable -%}
        {%- include 'collection-sorting' -%}
      {%- endif -%}
    </div>

    {%- if section.settings.collection_tags_enable -%}
      {%- if collection.all_tags.size > 0 -%}
        {%- if section.settings.collection_sort_enable -%}
          <hr class="hr--small hr--clear">
        {%- endif -%}
        <ul class="tags tags--collection inline-list">
          {% comment %}
            Used for the catalog collection (/collections/all) and product collections (collections/{collection.handle})
          {% endcomment %}
          <li{% unless current_tags %} class="tag--active"{% endunless %}>
            <a href="{% if collection.url == blank %}{{ routes.all_products_collection_url }}{% else %}{{ collection.url }}{% endif %}">
              {{ 'collections.general.all_of_collection' | t }}
            </a>
          </li>

          {%- for tag in collection.all_tags -%}
            {%- if current_tags contains tag -%}
              <li class="tag--active">
                {{ tag | link_to_remove_tag: tag }}
              </li>
            {%- else -%}
              <li>
                {% comment %}
                  Use link_to_add_tag if you want to allow filtering
                  by multiple tags
                {% endcomment %}
                {{ tag | link_to_tag: tag }}
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      {%- endif -%}
    {%- endif -%}

    {%- if section.settings.collection_tags_enable -%}
      <hr class="hr--small hr--clear">
    {%- endif -%}
  </header>

  {%- if section.settings.collection_products_grid == 'collage' -%}
    <div class="grid grid-collage">
      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'snippets/product-grid-collage.liquid'.

        `is_reverse_row__product`, `three_row_index__product`, `collection_product_count`, and `divisible_by_three__product` are
        all used by 'snippets/product-grid-collage.liquid'
      {% endcomment %}
      {%- assign is_reverse_row__product = false -%}
      {%- assign three_row_index__product = 0 -%}
      {%- assign collection_product_count__product = collection.products.size -%}
      {%- assign divisible_by_three__product = collection_product_count__product | modulo:3 -%}
      {%- for product in collection.products -%}
        {%- include 'product-grid-collage' -%}
      {%- else -%}

        {%- if shop.products_count == 0 -%}
          {% comment %}
            Add default products to help with onboarding for collections/all only
          {% endcomment %}
          {% include 'onboarding-featured-products' -%}
        {%- else -%}
          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
          <div class="grid__item text-center">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>
        {%- endif -%}
      {%- endfor -%}

    </div>
  {%- elsif section.settings.collection_products_grid == 'grid' -%}
    <div class="grid-uniform">
      {%- assign grid_item_width = 'medium--one-half large--one-third' -%}
      {%- for product in collection.products -%}
        {%- include 'product-grid-item' -%}
      {%- else -%}
        {%- if collection.handle == 'all' -%}
          {% comment %}
            Add default products to help with onboarding for collections/all only
          {% endcomment %}
          {%- include 'onboarding-featured-products' -%}
        {%- else -%}
          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
          <div class="grid__item text-center">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}

  {%- if paginate.pages > 1 -%}
    {%- include 'pagination' -%}
  {%- endif -%}

  {%- endpaginate -%}
</div>



{% schema %}
{
  "name":"Collection Training",
  "settings":[
     {
        "type":"checkbox",
        "id":"show_collection_image",
        "label":"Show collection image",
        "default":false
     },
     {
        "type":"checkbox",
        "id":"collection_sort_enable",
        "label":"Enable collection sorting"
     },
     {
        "type":"checkbox",
        "id":"collection_tags_enable",
        "label":"Enable tag filtering"
     },
     {
        "type":"header",
        "content":"Products"
     },
     {
        "type":"select",
        "id":"collection_products_grid",
        "label":"Grid style",
        "options":[
           {
              "value":"collage",
              "label":"Collage"
           },
           {
              "value":"grid",
              "label":"Grid"
           }
        ]
     },
     {
        "type":"checkbox",
        "id":"product_vendor_enable",
        "label":"Show product vendor"
     }
  ]
}
{% endschema %}
