<div id="cta_cta-button">
  <h2 class="rich-text__heading--large section-header__title h1" style="color:{{ section.settings.header-text-color }};"> {{ section.settings.text-box }} </h2>

  <a href="{{ section.settings.link }}" class="button" style="color:{{ section.settings.button-text-color }}; background-color:{{ section.settings.button-bg }}; flex-direction:{{ section.settings.button-icon-position }};">
    
    {% if section.settings.button-icon %}
      <img src="{{ section.settings.button-icon | img_url: 'master' }}" 
      style="width:{{ section.settings.button-icon-size }}px; 
      height:{{ section.settings.button-icon-size }}px;
      filter:{{ section.settings.button-icon-color }};">
    {% endif %}

    {{ section.settings.linktext }}
  </a>
  
</div>

{% schema %}

{
    "name": "Call to action button",
    "settings": [
      {
        "id": "text-box",
        "type": "text",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "id": "link",
        "type": "url",
        "label": "Button link"
      },
      {
        "id": "button-icon",
        "type": "image_picker",
        "label": "Button Icon (*please use a transparent PNG)"
      },
      {
        "id": "button-icon-color",
        "type": "radio",
        "label": "Icon Color",
        "options": [
          {
            "value": "brightness(0) invert(1)",
            "label": "White"
          },
          {
            "value": "",
            "label": "Default"
          }
        ],
        "default": "brightness(0) invert(1)"
      },
      {
        "id": "button-icon-position",
        "type": "radio",
        "label": "Icon Position",
        "options": [
          {
            "value": "row",
            "label": "Left"
          },
          {
            "value": "row-reverse",
            "label": "Right"
          }
        ],
        "default": "row"
      },
      {
        "id": "button-icon-size",
        "type": "range",
        "min": 0,
        "max": 20,
        "step": 1,
        "unit": "px",
        "label": "Icon Size",
        "default": 16
      },
      {
        "id": "linktext",
        "type": "text",
        "label": "Button text",
        "default": "Click here"
      },
      {
        "id": "header-text-color",
        "type": "color",
        "label": "Header Text Color",
        "default": "#000"
      },
      {
        "id": "button-text-color",
        "type": "color",
        "label": "Button Text Color",
        "default": "#fff"
      },
      {
        "id": "button-bg",
        "type": "color",
        "label": "Button Background Color",
        "default": "#1f2021"
      }
    ],
    "presets": [
      {
        "name": "CTA - Button and Header",
        "category": "Call To Action"
      }
    ]
  }

{% endschema %}

{% stylesheet %}

#cta_cta-button {
    display: flex;
    flex-direction: column!important;
    align-items: center;
    justify-items: center;
    text-align: center;
	margin: 3rem auto;
}

#cta_cta-button .button {
    font-family: Lora, serif;
    display: flex;
	  margin-top: 1rem;
    padding: 12px 20px;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #1f2021;
    border: none;
    border-radius: 0.62em;
    transform: translateY(0em);
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

#cta_cta-button .button img {
  margin: 0 10px;
}

#cta_cta-button .button:hover {
    background-color: #3d3f41!important;
    color: #fff;
    transform: translateY(-0.25em);
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
