<section id="button_columns" style="background-image:url('{{section.settings.image.src | img_url: 'master'}}'); padding-left:{{ section.settings.padding_left }}%; padding-right:{{ section.settings.padding-right }}%; height:{{ section.settings.height }}px; background-size:{{ section.settings.background-size }};">

   {% for block in section.blocks %}

         <div class="services_button_column">

           {% if block.settings.image %}
           <img src="{{ block.settings.image | img_url: 'master' }}" 
           style="width:{{ block.settings.image-size }}px; 
           height:{{ block.settings.image-size }}px;
           filter:{{ block.settings.image-color }};">
           {% endif %}

           {% if block.settings.button_header %}
           <div class="button_header">
              <h3>{{ block.settings.button_header }}</h3>
           </div>
           {% endif %}

            <div class="button_caption">
               {{ block.settings.button_caption }}
            </div>
           <a href="{{ block.settings.button }}" class="button">{{ block.settings.buttontext }}</a>
         </div>

   {% endfor %}

</section>


{% schema %}
   
{
   "name":"Button Columns",
   "settings": [
        {
           "id": "padding_left",
           "type": "range",
           "min": 0,
           "max": 100,
           "step": 5,
           "unit": "%",
           "label": "Padding Left",
           "default": 0
        },
        {
           "id": "padding_right",
           "type": "range",
           "min": 0,
           "max": 100,
           "step": 5,
           "unit": "%",
           "label": "Padding Right",
           "default": 0
        },
        {
           "id": "height",
           "type": "range",
           "min": 400,
           "max": 700,
           "step": 25,
           "unit": "px",
           "label": "Image Height",
           "default": 0
        },
        {
           "id": "background_size",
           "type": "select",
           "label": "Background Size",
           "options": [
              {
                 "value": "cover",
                 "label": "Cover"
              },
              {
                 "value": "contain",
                 "label": "Contain"
              },
              {
                 "value": "auto",
                 "label": "Auto"
              }
           ],
           "default": "cover"
        }
     ],
   "blocks":[
      {
         "type":"Button",
         "name":"Column",
         "settings":[
              {
                 "id": "image",
                 "type": "image_picker",
                 "label": "Image (*please use a transparent PNG)"
              },
              {
                 "id": "image-color",
                 "type": "radio",
                 "label": "Image Color",
                 "options": [
                 {
                    "value": "brightness(0) invert(1)",
                    "label": "White"
                 },
                 {
                    "value": "",
                    "label": "Default"
                 }
                 ],
                 "default": "brightness(0) invert(1)"
              },
              {
                 "id": "image-size",
                 "type": "range",
                 "min": 16,
                 "max": 40,
                 "step": 1,
                 "unit": "px",
                 "label": "Image Size",
                 "default": 32
              },
              {
                 "id":"button_header",
                 "type":"text",
                 "label":"Button Header"
              },
            {
               "id":"button_caption",
               "type":"richtext",
               "label":"Button caption"
            },
            {
               "id":"button",
               "type":"url",
               "label":"Button link"
            },
            {
               "id":"buttontext",
               "type":"text",
               "label":"Button text",
               "default":"Click here"
            }
         ]
      }
   ],
   "settings":[
      {
         "id":"image",
         "type":"image_picker",
         "label":"Background Image"
      }
   ],
   "presets":[
      {
         "name":"Services - Button Columns",
         "category":"Services"
      }
   ]
}

{% endschema %}

{% stylesheet %}

#button_columns {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: center;
   align-items: center;
   margin: 3rem 0;
   height: 400px;
   background: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 0 15%;
}

#button_columns .services_button_column {
   display: flex;
   flex-direction: column;
   width: 30%;
   min-width: 200px;
   height: max-content;
   align-items: center;
   text-align: center;
   justify-content: space-between;
   margin: 0 1.5rem;
   border: 1px solid #b5b5b5;
   border-radius: 4px;
   box-shadow: 5px 3px 6px rgb(0 0 0 / 20%);
   padding: 1.5rem;
   background-color: rgba(250 250 250 / 90%);
}

#button_columns .services_button_column .button_caption {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   margin-top: auto;
   margin-bottom: auto;
   font-size: 16px;
   line-height: 21px;
}

#button_columns .services_button_column .button_caption h3 {
   font-size: 16px;
   text-transform: none;
   font-weight: 600;
   padding-bottom: 10px;
   letter-spacing: 0.8px;
   line-height: 21px;
}

#button_columns .services_button_column .button_caption::after {
   content: "";
   position: absolute;
   width: 120px;
   height: 0.2px;
   background-color: #000;
   display: none;
}

#button_columns .services_button_column .button {
   font-family: Lora, serif;
   display: inline-block;
   margin: 0;
   padding: 12px 20px;
   font-size: 13px;
   cursor: pointer;
   text-decoration: none;
   color: #fff;
   background-color: #1f2021;
   border: none;
   border-radius: 0.62em;
   transform: translateY(0em);
   -webkit-transition: all .15s ease-out;
   -moz-transition: all .15s ease-out;
   -ms-transition: all .15s ease-out;
   -o-transition: all .15s ease-out;
   transition: all .15s ease-out;
   margin-top: 20px;
}

#button_columns .services_button_column img {
  margin-bottom: 1rem;
}

#button_columns .services_button_column .button:hover {
   background-color: #3d3f41!important;
   color: #fff;
   transform: translateY(-0.25em);
}

@media screen and (max-width: 768px) {
  #button_columns {
     flex-direction: column;
     height: min-content;
     padding: 3rem 0;
  }

  #button_columns .services_button_column {
     width: 80%;
     margin: 1rem 1.5rem;
     height: min-content;
  }
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
